.contact {
	margin: 50px auto;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		font-size: 2rem;
	}
	.contact-container {
		display: flex;
		flex-direction: column;
		@media only screen and (min-width: 768px) {
			flex-direction: row;
		}
			.contact-box {
		text-align: center;
		margin: 20px;
		padding: 20px;
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			font-size: 1.7rem;
		}		
		.icon {
			font-size: 2rem;
		}
	}
	}

	.footer-nav {
	display: flex;
	list-style: none;
	padding: 30px;
	font-size: 4rem;
	color: black;
		.social {
			> a {
				margin: 20px;
				color: black;
				&:visited {
					color: black;
				}
				&:hover {
					color: gray;
				}
			}
		}
	}
	.info {
		text-align: center;
	}
}	