.mission-page {
	.home-link {
		h1 {
			color: white;
			margin-top: 0;
			padding: 15px ;
		}
		a {
			padding: 15px;
		}
		height: 150px;
		background-color: #e36414;
	}
	h3 {
		font-size: 2rem;
		text-align: center;
		padding: 20px;
	}
	p {
		text-align: center;
		padding: 20px;
	}
}