.mission-page {
	.home-link {
		h1 {
			color: white;
			margin-top: 0;
			padding: 15px ;
		}
		a {
			padding: 15px;
		}
		height: 150px;
		background-color: orange;
	}
	h3 {
		padding: 20px;
	}
	p {
		padding: 20px;
	}
}